body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}

.first-row, .second-row, .third-row{
  display: flex;
  flex-direction: row;
}

.title {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 2.5rem;
}

.form-group {
  width: 50%;
  margin: 8px 16px;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.third-row{
  width: 92%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
  width: 40%;
}

button:hover {
  background-color: #45a049;
}

.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(194, 192, 192, 0.2);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(192, 192, 192, 0.2);
}